<!-- Affiche le message si le match est créé avec succès -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-success" [ngClass]="{'invisible': displayMessage=== ''}" role="alert">
                {{ displayMessage }}&nbsp; <!-- &nbsp; = permet d'éviter d'avoir un décalage lorsque le message est caché-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="mb-4" [formGroup]="matchForm" (ngSubmit)="createMatch()">
                <div class="mb-3">
                    <label for="phase" class="form-label">Phase:</label>
                    <select id="phase" formControlName="phase"
                        class="form-select form-select-sm" required>
                        <option *ngFor="let option of phases" [value]="option">{{ option }}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="groupe" class="form-label">Groupe:</label>
                    <select id="groupe" formControlName="groupe" class="form-select form-select-sm"
                        required>
                        <option *ngFor="let option of groupeOptions" [value]="option">{{ option }}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="terrain" class="form-label">Terrain:</label>
                    <input type="number" id="terrain" formControlName="terrain"
                        class="form-control form-control-sm" required>
                </div>

                <div class="mb-3">
                    <label for="equipe1" class="form-label">Équipe 1:</label>
                    <input type="text" id="equipe1" formControlName="equipe1"
                        class="form-control form-control-sm" required>
                </div>

                <div class="mb-3">
                    <label for="equipe2" class="form-label">Équipe 2:</label>
                    <input type="text" id="equipe2" formControlName="equipe2"
                        class="form-control form-control-sm" required>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <app-datetime-local-input formControlName="date"
                        class="form-control form-control-sm"></app-datetime-local-input>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Créer Match</button>
            </form>
        </div>
    </div>
</div>
<p>Form Status: {{ matchForm.status }}</p>
<p>Form Status: {{ matchForm.value | json }}</p>
