<!-- create-match.component.html -->
<form (ngSubmit)="createMatch()">
    <div>
      <label for="phase">Phase:</label>
      <input type="text" id="phase" name="phase" [(ngModel)]="match.phase" required>
    </div>
  
    <div>
      <label for="groupe">Groupe:</label>
      <input type="text" id="groupe" name="groupe" [(ngModel)]="match.groupe" required>
    </div>
  
    <div>
      <label for="terrain">Terrain:</label>
      <input type="number" id="terrain" name="terrain" [(ngModel)]="match.terrain" required>
    </div>
  
    <div>
      <label for="equipe1">Équipe 1:</label>
      <input type="text" id="equipe1" name="equipe1" [(ngModel)]="match.equipe1" required>
    </div>
  
    <div>
      <label for="equipe2">Équipe 2:</label>
      <input type="text" id="equipe2" name="equipe2" [(ngModel)]="match.equipe2" required>
    </div>
  
    <div>
      <label for="date">Date:</label>
      <app-datetime-local-input [(ngModel)]="match.date" name="date"></app-datetime-local-input>
    </div>
  
    <button type="submit">Créer Match</button>
  </form>
  